a.out
aoc2
aoc3
aoc4
aoc5
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
aoc4.dSYM/Contents/Info.plist
aoc4.dSYM/Contents/Resources/DWARF/aoc4
aoc5.dSYM/Contents/Info.plist
aoc5.dSYM/Contents/Resources/DWARF/aoc5
aoc6
aoc7
aoc8
aoc9
aoc10
